@charset "utf-8";
/* CSS Document */

@font-face {
  font-family : basic8Bold;
  src:url(Fonts/Baskic8-Bold.ttf);

}
@font-face{

  font-family : basic8;
  src:url(Fonts/Baskic8.ttf);

}

@font-face{

  font-family : industry;
  src:url(Fonts/Industry.ttf);

}
#devlog_joe_logo{
  width: 35%;

}
.pageLogo{
  text-align: center;
}
body{
  overflow-x: hidden;
  image-rendering: pixelated;
  background-image: url(DevlogPageBackground.png);

  background-attachment: fixed;
}


#GameJamDownload{
  width: 50%;
}

video{
  width: 40%;
}

/*NavigationBar*/

.navigationBar{
  position: fixed;
  top: 0px;
  left: 0px;
	z-index: 1000;
  font-family: basic8Bold;
	background-color: #945E56;
	overflow: auto;
	width: 100%;

}

.navigationBar a {
  float: left;
  color: #ffffff;
  text-align: center;
  
  padding-top: 8px;
  padding-bottom: 8px;
  text-decoration: none;
  font-size: 25px;
  width: 20%; 
  text-align: center;
}

.navigationBar a:hover {
  background-color: #E08F82;
  color: white;
}
.navigationBar a.active {
  background-color: #BD786D;
  color: white;}
/*NavigationBar */
.DevlogWrapper{
    margin-top:110px ;

}
.heading1{
  font-size: 30px;
  font-family: basic8Bold;
}
.heading2{
  font-size: 30px;
  font-family: basic8;
}
.Devlog{
  font-family: basic8;
  font-size: 23px;
  margin-left: 15%;
  margin-right: 15%;


  text-align: center;
  border: 20px solid;
  background-color: #c49143;

  background-clip: content-box;


  left: 0px;
  top: 60px;
  border-image-source: url("DevlogBoarder9Slice.png");
  border-image-slice: 6 6 6 6;
}


.mainText{
  font-family: basic8;
  font-size: 30px;
  text-align: center;
  top: 1556px;
  margin-left:300px ;
  margin-right:300px ;
  background-color: #bfeff0;

}

a{
  text-decoration: none;
}
h1{
  font-size: 50px;
  font-family: basic8Bold;
}
h2{
  font-size: 50px;
  font-family: basic8;
}
footer {
  color: #fff;
  padding: 10px;
  text-align: center;
  background-color: #bfeff080;
}

#KasperPicture{
  width: 15%;
}

#LinkedFooterImages{
  width: 4%;

}
#LinkedFooterImagesItch{
  width: 5.5%;

}                                         
#LinkedFooterImagesTwitter{
  width: 4.5%;

}
#LinkedFooterImagesInstagram{
  width: 4.5%;

}
#LinkedFooterImagesYoutube{
  width: 5%;

}
.CopyrightText{
    font-size: 20px;
        color: #000 !important;

      font-family: basic8;

}

.BrandText{
      font-size: 30px;

    color: #000 !important;
      font-family: basic8;

}
img{
  vertical-align: middle;
}
